@import url(http://fonts.googleapis.com/css?family=Roboto:400);

.login {
	background-image: url('../img//background//login_page.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #464646; 
	-webkit-font-smoothing: antialiased;
	font: normal 14px Roboto,arial,sans-serif;

	height: 100vh;
	width: 100vw;
	padding-top:30vh;
	padding-bottom:30vh;
	padding-left:30vw;
	padding-right:30vw;

 
}

